# Hold Out Validation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Importing the Data

In [2]:
data = pd.read_csv('data_cleaned.csv')

In [3]:
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [4]:
data.isnull().sum()

Survived      0
Age           0
Fare          0
Pclass_1      0
Pclass_2      0
Pclass_3      0
Sex_female    0
Sex_male      0
SibSp_0       0
SibSp_1       0
SibSp_2       0
SibSp_3       0
SibSp_4       0
SibSp_5       0
SibSp_8       0
Parch_0       0
Parch_1       0
Parch_2       0
Parch_3       0
Parch_4       0
Parch_5       0
Parch_6       0
Embarked_C    0
Embarked_Q    0
Embarked_S    0
dtype: int64

## Splitting

### Separating independent and dependent vartiable

In [5]:
data_x = data.drop('Survived',axis = 1)
data_y = data['Survived']

 ## Creating validation and Test Set

In [18]:
from sklearn.model_selection import train_test_split as tts
train1_x, test_x, train1_y, test_y = tts(data_x, data_y, random_state = 50, stratify=data_y)

In [19]:
train_x, val_x, train_y, val_y = tts(train1_x, train1_y, test_size = 0.2, random_state = 51, stratify=train1_y)

print('Train Data:       ', train_x.shape,train_y.shape)
print('Validation Data:  ',val_x.shape,val_y.shape)
print('Test Data:        ',test_x.shape,test_y.shape)

Train Data:        (534, 24) (534,)
Validation Data:   (134, 24) (134,)
Test Data:         (223, 24) (223,)

## Checking Distribution of target class in train ,test and validation set

In [20]:
train_y.value_counts()/len(train_y)

0    0.616105
1    0.383895
Name: Survived, dtype: float64

In [21]:
val_y.value_counts()/len(val_y)

0    0.619403
1    0.380597
Name: Survived, dtype: float64

In [22]:
test_y.value_counts()/len(test_y)

0    0.61435
1    0.38565
Name: Survived, dtype: float64

In [ ]:
()